*{
    margin:0;
    padding:0;
    border:0 ;
    
}

body {
    background-image: url(../imagenes/fondo.jpeg)!important;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    text-align: center;
    font-family: 'Poiret One', cursive;
    
    
}

.header {
    display: flex;
    justify-content:right;
    align-items:flex-start;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: rgba(183, 85, 253);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 20px;
    
}

.logo{
   margin: 50px;
   padding: 10px;
   
}
.logo p{
   display: block;
}

.navbar a {
    display: block;
    padding: 30px 30px;
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color:#fff;
}

.navbar a:hover {
    
 color: rgb(255, 130, 5);
    
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;
}

#button{
    background: rgba(183, 85, 253);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    
}
#button:hover{
    cursor: pointer;
    color:coral;
}




    

footer{
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    background: rgba(183, 85, 253);
    width: 100%;
    text-align: center;
    
  
 }
 footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
 }
 footer i{
    color: #fff;
    padding:20px;
    font-size: 30px;
 }

